#search-div{
    width:100%;
    background-color:#f8f8f8 !important;
    padding:0px 50px 50px 50px;
    /*box-shadow: 10px 10px 5px #888888;*/
    border-radius:10px;
    min-height:500px;
}


#rounded_span{
    width:100px;
    border-radius:100%;
    background-color:green;
    color:white;
}
